@import "./variables";

main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $white;
  position: relative;

  h1 {
    font-size: 62px;
    font-family: $robotoCondensed;
    letter-spacing: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 4rem;
  }

  p {
    font-family: $workSans;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .discover {
    font-size: 24px;
    font-family: $workSans;
    font-weight: 500;
    line-height: 1.5;
  }

  .arrow {
    fill: $buttonPink;
    position: absolute;
    width: 60px;
    cursor: pointer;
    bottom: 12px;
  }
}

main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/pool.jpg) no-repeat center center/cover;
  filter: contrast(0.75);
  z-index: -1;
}

.button {
  text-decoration: none;
  padding: 24px 60px;
  background: $buttonPink;
  color: $white;
  font-size: 1rem;
  font-weight: 700;
  font-family: $robotoCondensed;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: background-color 400ms ease-in-out;

  &:hover {
    background-color: #e0325e;
  }
}
