@import "./main";
@import "./header";
@import "./section1";
@import "./variables";
@import "./cards";
@import "./receive-offers";
@import "./footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-family: $robotoCondensed;
  width: 100%;
  padding: 2rem;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.6rem;
  text-align: center;
}
